<a href="https://colab.research.google.com/github/lewisnjue/AI/blob/main/logistic_reg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LOGISTIC REGRESSION WITH SCIKIT LEARN
the rail in australia dataset contains about 10 years of daily weather obseratin from numerous australian wather statios.
as a data sciestist at the berueu of meteorilory , you are tasked with creating a fully automated system that can use today wether data for a given location to predict whether it will rain at the location tomorrow.


## LINEAR REGRSSION VS LOGISTIC REGRESSION .

logistic regrssion is better suited for classification problims like predicting whether it will rain tomorrow. identyifn whether a given problem si a classifcatgion or regrssion problem is a importatn fist step in machine learnig .

### CLASSIFICATION PROBLEMS

problems where each inputs must be assigned a descrete category (also called label or class ) are known as classifcation prblems .

regrssion problmes: problesm where a continous numeric valeu must be predicted for each input are known as regrssion problems .

linear regrssion is a commonly used technique for solving regrssion problesm . in a linear regrssion model . the target is modeletd as a linear combination ( or weighted sum ) for inputs featurs .
the predcition from the model are evalutaed using a loss function like the root mean squred errol

logistic regrssion for solving classfication problems in a logistic regrssion model

- we take linear combination ( or weighted sum of the inputs featurs)

- we apply the sigmoid fucntion to the result to obtain a number between 0 and 1 .

- this number represent the probalility of th einput being clasfied as yes .
- intead of RMSE , the cross entropy loss funciton is used to evalutea the resltus .

the output of the sigmoid funciton is called a logistic , hence the name logistic regrssion . for a methematical discussion of logistic regrsssion.

### MACHINE LEARNIGN WORKFLOW

whether were solving a regrssion problem usng linear regrssion or a classifcation problem using logistic regrssion , the workflow for training a model is exactly the same

1 we initialize a model  with random parametesr
1 we pass some inputs into the model to optina predictions .
1 we compare the mdoel prediction with the actual tragets usn the loss funcion
1 we use an optimation techine to reduct he loss by adust it weithgs and biases of the model
1 we repeat steps 1 to 4 till the prediction from model are good enouth  



classificaiont and regrssion are both supervised machien leanring problesm , bexuase they use labeled data . machien leaning applied to unlabed data is know as unsupervised leanig .

In [1]:
!pip install scikit-learn --upgrade --quiet

In [2]:
!pip install opendatasets --upgrade --quiet

In [3]:
import opendatasets as od
od.version()

'0.1.22'

In [4]:
dataset_url = 'https://www.kaggle.com/jsphyg/weather-dataset-rattle-package'
od.download(dataset_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: lewisnjue
Your Kaggle Key: ··········
Dataset URL: https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package
Downloading weather-dataset-rattle-package.zip to ./weather-dataset-rattle-package

100%|██████████| 3.83M/3.83M [00:00<00:00, 177MB/s]

In [5]:
import os

In [6]:
data_dir = './weather-dataset-rattle-package'
os.listdir(data_dir)

['weatherAUS.csv']

In [7]:
train_csv = data_dir + '/weatherAUS.csv'

In [8]:
!pip install pandas --quiet

In [9]:
import pandas as pd

In [10]:
raw_df = pd.read_csv(train_csv)

In [11]:
raw_df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

the data set contains over 145,000 rows and 23 coulumsn  the datset containes date,numeirc and categorical columsn our objective is to crate a model to predict the valeu int eh colum raintomorrow .
lets check the data tyep and mission lvalue int eh valris colums

In [12]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

while we should be able to fill the missing values most columsn , it might be a good idea to discard the rows where teh value of rain tomorrow or tain tody is missign to make our anslysis and modeling simpler ( since one of htem is the target variable and athe other is likely to e very closely related to the target variable ) .

In [13]:
raw_df.dropna(subset=['RainTomorrow','RainToday'], inplace=True)